p{
    font-family: 'Courier New',
     Courier, monospace;
    font-size: 25px;
    color: blueviolet;

}
.parrafoTitulo{
    font-family: 'Courier New',
     Courier, monospace;
    font-size: 25px;
    color: rgb(226, 43, 43);
}