.boton1 {

    background-color: rgb(233, 19, 19);
    color: white;
}

.boton2 {
    border-radius: 15px;
    background-color: rgb(155, 19, 233);
    color: white;
    padding: 10px 20px;
}

.boton3 {
    border-radius: 15px;
    background-color: rgb(52, 154, 221);
    color: white;
    padding: 10px 20px;
    text-align: end;
    border: none;
    font-size: 25px;
    font-family: cursive;
}