input, select, button{
    padding: 10px;
    margin: 5px;
}
button {
    border-radius: 15px;
    background-color: rgb(52, 154, 221);
    color: white;
    padding: 10px 20px;
    text-align: end;
    border: none;
    font-size: 15px;
    font-family: cursive;
}
h1{
    color: blueviolet;
}